body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  flex-basis: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box h2 {
  margin: 0 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #222;
}

th {
  background-color: #f0f0f0;
}

tbody tr:hover {
  background-color: #f362b2;
  color: #fff;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #45a049;
}

#product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-product-form input[type="text"],
#add-product-form input[type="number"] {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #222;
  width: 200px;
}

#add-product-form button[type="submit"] {
  width: 100px;
  align-self: flex-end;
}
